#header {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    width: 100vw;
    height: 6rem;
    background-color: #c1aaa0d5;
}

#logo {
    display: flex;
    width: min-content;
}

#logo-image {
    filter: drop-shadow(0 0 0.5rem #b9b8b8);
}

#login-buttons {
    display: flex;
    flex-grow: 1;
    justify-content: right;
    align-items: center;
    height: 60px;
}

.login-buttons {
    display: flex;
    background-color: #D4C4B9;
    border: 2px solid black;
    margin: 0px 8px;
    padding: 0px 10px 0px 8px;
    cursor: pointer;
    height: inherit;
    align-items: center;
    filter: drop-shadow(0 0 0.5rem #b9b8b8);
}

.login-buttons:hover {
    background-color: #D8D3C9;
}
